.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.formContainer {
    display: flex;
    flex-direction: column;
}

.formContainer input {
    margin: 10px 0px 10px 0px;
    padding: 10px;
    border: none;
    border-bottom: 1px solid black;
    width: 250px;
}

.submitBtn {
    padding: 15px;
    font-size: large;
    border: none;
    background-color: #3B40C9;
    color: white;
    border-radius: 15px;
}